.wrapper {
  padding: 0 var(--spacing-3);
}

.sectionWrapper {
  padding: var(--spacing-3) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.sectionTitle {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  color: var(--global-foreground);
  font-family: var(--main-font);
  font-size: var(--font-size-2);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.primaryKeyIcon {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--primary-accent);
}
